@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
.body{
    display: flex;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 6%;
    background-color: white;
    align-items: center;
    padding: 0.3rem;
    max-width: 20rem;
    justify-content: space-around;
}
.qr-code{
    height: 60%;
    width: 90%;
    border-radius: 6%;
    margin-top: 5%;
    
}
.title-text{
    font-size: 1.1em;
    font-family: 'Outfit',sans-serif;
    font-weight: 700;
}
.body-text{
    color: gray;
    font-size: 1em;
    font-family: 'Outfit',sans-serif;
    font-weight: 400;
}
.text{
    text-align: center;
    padding: 3% 10% 3% 10%; 
}
